@font-face {
    font-family: barlowBold;
    src: url(/style/fonts/Barlow-Bold.ttf);
}

:root {
    --background: #0a0c15;
    --navbarWidth: 200px;
    --topHeight: 100px;
}

body {
    font-family: monospace;
    background-color: var(--background);
    color: #fff;
}

body::-webkit-scrollbar {
    display: none;
}

body img {
    user-select: none;
}

#verificationImg {
    width: 16px;
    aspect-ratio: 1;
}

#top {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--topHeight);
    width: 100%;
    background: var(--background);
    z-index: 1;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: barlowBold;
}

#topLogo {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    width: 45px;
    aspect-ratio: 1;
    z-index: 2;
}

.clearButton {
    color: #fff;
    border: none;
    background: transparent;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: barlowBold;
    cursor: pointer;
    font-size: 16px;
    transition: border .25s;
    transition: color .25s;
}

.clearButton:hover {
    border: 1px solid #bbb;
    color: #bbb;
}

.smallerButton {
    font-size: 14px;
}

#top p {
    margin-right: 20px;
}

#navbar {
    position: fixed;
    width: var(--navbarWidth);
    height: 100%;
    left: 0;
    top: var(--topHeight);
    padding-top: 20px;
    background: var(--background);
    border-right: 1px solid white;
}

#navbar button {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: .15s;
    background: none;
    text-decoration: none;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-family: barlowBold;
    padding-left: 20px;
}

#navbar p {
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 16px;
}

#navbar img {
    display: none;
    filter: brightness(80%);
    transition: .15s;
}

#navbar button:hover img {
    filter: brightness(100%);
    transition: .15s;
}

#navbar button:hover {
    color: #fff;
}

#navbar .selected {
    color: #fff;
    cursor: default;
}

#navbar .selected img {
    filter: brightness(100%)
}

#pannels {
    overflow-y: scroll;
    position: fixed;
    top: var(--topHeight);
    left: var(--navbarWidth);
    width: 100%;
    height: 100%;
    padding: 0px 15px 0px 15px;
}

.txtDisplay {
    width: 500px;
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 10px;
    border: 1px solid white;
    background: none;
    overflow: auto;
    max-height: 50vh;
}

.txtDisplay pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    margin: 0;
}

.txtDisplay::-webkit-scrollbar {
    display: none;
}

#icon16 {
    width: 16px;
    height: 16px;
}

.invisButton {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: .1s;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#refresh {
    padding: 0;
    margin-left: 10px;
    display: inline-block;
}

#refresh img {
    aspect-ratio: 1;
}

#refresh:hover {
    filter: brightness(80%);
}

#admin {
    margin-bottom: 150px;
}

#dashboard, #schools, #admin, #account {
    display: none;
}

#svgBathrooms {
    cursor: pointer;
}

#schoolHolder .txtDisplay {
    max-height: 100vh;
}

#schoolHolder {
    margin-top: 15px;
    margin-bottom: 100px;
    left: 15px;
    display: flex;
    width: calc(100% - 215px);
    flex-wrap: wrap;
}

#schoolHolder h1 {
    text-align: center;
}

#schoolButtonHolder {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.map {
    margin-top: 40px;
    width: 100%;
}

#mapSvg {
    width: 100%;
}

.passwordHolder {
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.textInputContainer {
    background: transparent;
    height: 30px;
    border-radius: 7px;
    display: flex;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.textInputContainer input {
    all: unset;
    padding: 7px;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    height: 15px;
    width: 100%;
    font-size: 16px;
}

.userHolder {
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    padding-top: 0px;
}

.user {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-bottom: 1px solid white;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.user h4 {
    display: none;
}

.userTop p {
    margin-right: 60px;
    overflow: hidden;
    text-align: center;
    width: 160px;
    text-overflow: ellipsis;
}

.userTop p::-webkit-scrollbar {
    display: none;
}

.userTop {
    display: flex;
    flex-direction: row;
}

.userAccess {
    color: #fff;
    margin: 0;
    margin-right: 80px;
    padding: 3px 5px;
    border-radius: 5px;
    background: none;
    border: none;
    font-family: monospace;
    outline: none;
}

.userAccess option {
    color: #000;
}

#adminTopTitle {
    margin-left: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid white;
    width: 900px;
}

#adminTopTitle p {
    font-family: barlowBold;
    width: 160px;
    margin-right: 80px;
    text-align: center;
}

#adminTopTitle p:nth-child(1) {
    margin-right: 60px;
}

#adminTopTitle p:nth-child(2) {
    width: 100px;
    margin-right: 65px;
}

#adminTopTitle p:nth-child(3) {
    margin-right: 65px;
}

.editPerms {
    opacity: 0;
    margin: 0;
    padding: 0;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.editPerms p, .editPerms button {
    margin: 0;
    margin-bottom: 10px;
}

.changeUserPass {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.changeUserPass button {
    margin-left: 20px;
}

.correctPass {
    animation: correctPass 1.5s ease forwards;
}
.wrongPass {
    animation: wrongPass .5s ease forwards;
}

#br_prefs input {
    width: 15px;
    aspect-ratio: 1;
    margin-right: 10px;
    cursor: pointer;
}

@keyframes correctPass {
    0% {
        border-color: green;
        color: green;
    }

    100% {
        border-color: #fff;
        color: #fff;
    }
}

@keyframes wrongPass {
    0% {
        border-color: red;
        color: red;
    }

    100% {
        border-color: #fff;
        color: #fff;
    }
}

@media (min-width: 801px) {
    #feedbackPannel {
        margin-left: 15px;
    }

    #logsPannel {
        display: flex;
    }

    #leftColumn {
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1150px) {
    #verificationImg {
        width: 10px;
    }

    .userTop {
        flex-direction: column;
    }

    #adminTopTitle {
        display: none;
    }

    .user {
        align-items: center;
        margin-right: 20px;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .userTop button {
        margin-top: 10px;
    }

    .user h4, .user p, .userTop select {
        display: block;
        width: 100%;
        text-align: left;
        margin: 0;
        margin-bottom: 5px;
    }

    .user {
        border-bottom: 1px solid white;
        padding-top: 0px;
        max-width: 211px;
    }

    .userTop div {
        display: flex;
    }

    .userAccess {
        display: block;
        align-self: center;
    }

    .adminUsername  {
        font-family: barlowBold;
        font-size: 24px;
    }

    .userHolder {
        margin-bottom: 150px;
        margin-top: 15px;
        width: fit-content;
        justify-content: left;
    }

    .editPerms p {
        font-size: 10px;
        width: fit-content;
    }
    #idFull {
        display: none;
    }
}

@media (max-width: 1300px) {
    #feedbackPannel {
        margin: 0;
        margin-bottom: 150px;
    }

    #leftColumn {
        margin-bottom: 0px;
    }

    #logsPannel {
        display: block;
    }
}

@media (max-width: 800px) {
    body {
        font-size: 10px;
    }

    #navbar p {
        display: none;
    }

    #navbar {
        width: 60px;
    }

    #navbar img {
        display: block;
    }

    #pannels {
        left: 60px;
    }

    .txtDisplay {
        width: calc(100vw - 110px);
    }

    #schoolHolder {
        width: calc(100%);
    }

    #topLogo {
        display: none;
    }

    #schoolButtonHolder {
        justify-content: left;
        flex-wrap: wrap;
    }
    
    #schoolButtonHolder button {
        margin-right: 15px;
        margin-bottom: 15px;
    }

    .clearButton {
        font-size: 12px;
    }

    :root {
        --topHeight: 50px;
    }

    .userHolder {
        width: calc(100% - 100px);
    }

}