<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../images/faviconOpenU.ico" type="image/x-icon" />
  <link rel="stylesheet" media="all" href="../style/404.css" />
  <title>ppsbathrooms 404</title>
</head>

<body>

  <div class="div404">
    <p class="text404">404</p>
  </div>

  <p class="text">Page Not Found</p>

  <div class="button">
    <a href="/" class="home-link">RETURN HOME</a>
  </div>

  <div class="bottom">
    <p>If you belive there is a mistake or missing page please contact us</p>
  </div>

</body>

</html>