<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
  <link rel="icon" href="../style/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="../style/404.css">
  <link rel="stylesheet" href="../style/style.css">
  </link>
  <script src="../thirdParty/jquery.min.js"></script>
  <title>ppsbathrooms | 404</title>
</head>

<body>
  <div id="navbar"></div>
  <div id="pageID">404</div>
  <div class="div404">
    <p class="text404">404</p>
  </div>

  <p class="text">Page Not Found</p>
  <div id="linkholder">
    <a href="/" class="home-link">RETURN HOME</a>
  </div>

  <div class="bottom">
    <p>If you believe there is a mistake or missing page please contact us</p>
  </div>

</body>
<script src="../js/htmlInsert.js"></script>
<script src="../js/update.js"></script>
<script src="../js/selectSchool.js"></script>

</html>