<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="icon" href="../style/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../style/style.css">

    <script src="../thirdParty/jquery.min.js"></script>
    <title>ppsbathrooms | contact</title>
</head>

<body>
    <div id="navbar"></div>

    <p id="pageID">contact</p>

    <div id="contactHolder">
        <h1>contact us</h1>
        <div id="contactIconHolder">
            <a target="_blank" href="mailto:ppsbathrooms@gmail.com"><img id="icon24" src="../style/icons/email.svg"></a>
            <a target="_blank" href="https://www.instagram.com/ppsbathrooms/"><img id="icon24"
                    src="../style/icons/instagram.svg"></a>
            <a target="_blank" href="https://discord.gg/qwY9258CNA"><img id="icon24"
                    src="../style/icons/discord.svg"></a>
        </div>
    </div>
    <!-- <div id="feedbackBox">
        <p>send us feedback</p>
        <input type="text" id="feedbackInput" autofocus>
        <button id="sendFeedback">
            <img id="icon16" src="../style/icons/arrowRight.svg"></img>
        </button>
        </input>
    </div> -->

    <div id="footer"></div>

</body>
<script src="../js/htmlInsert.js"></script>
<script src="../js/selectSchool.js"></script>

</html>