<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="icon" href="../style/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../style/style.css">

    <script src="../thirdParty/jquery.min.js"></script>
    <title>ppsbathrooms | help</title>
</head>

<body>
    <div class="header"></div>

    <p id="pageID">help</p>

    <div id="help">
        <h2>Understanding Bathroom Status</h2>
        <p>
            - Each square on the map corresponds to a bathroom. <br>
            - <strong>Green</strong> squares indicate open bathrooms, while <strong>red</strong> squares represent
            closed
            bathrooms.
        </p>

        <img id="helpMap" src="../style/images/helpMap.svg"></img>

        <h2 id="passwordInfo">How to Update a Bathroom Status</h2>
        <p>
            If you'd like to help us keep the bathroom information up-to-date, we would love your help.<br>
            - When clicking on a bathroom or the coorisponding status square, a button will appear, prompting you to
            enter a password.<br>
            - This password is shared with students and staff to ensure that only trusted individuals can update
            bathroom statuses.<br>
            - If you are interested in joining our team of bathroom updaters who have access to this password, please
            contact us via email or on Instagram, and we'll
            provide you with the necessary password.<br><br>
            Please note: The Google Chrome extension does not yet support updating bathroom statuses.
        </p><br>

        <h2>Reporting Incorrect Bathroom Status</h2>
        <p>
            While we do our best to maintain accurate information, there may be rare occasions when we make a mistake or
            miss updating a closed bathroom. We appreciate your help in keeping our database current. If you notice any
            discrepancies:<br><br>
            - Join our Discord server linked on our info page to message us.<br>
            - Alternatively, you can contact us via email using the address provided below.<br>
            Any information about bugs or other issues you encounter is greatly appreciated.
        </p><br>

        <h2>Contacting Us</h2>
        <p>
            The best way to reach out to us is through email at <strong>ppsbathrooms@gmail.com</strong>.<br>
            If you have concerns about the website, such as copyright or other issues, please don't hesitate to contact
            us. We are open to finding solutions and addressing any potential problems.
        </p>
        <p>more contact information can be found <a style="color: #aaa; text-decoration: none;" href="/contact">here</a>
        </p>
        <br>

        <h2>Disclaimer</h2>
        <p>
            This website is not created or operated by Portland Public Schools, Cleveland
            High School, Franklin High School, or Ida B Wells High School. We are not associated with these entities in
            any way.
        </p>
    </div>

    <div id="footer"></div>

</body>
<script src="../js/htmlInsert.js"></script>
<script src="../js/selectSchool.js"></script>
<script src="../js/update.js"></script>

</html>