<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
  <link rel="icon" href="../style/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="../style/style.css">

  <script src="../thirdParty/jquery.min.js"></script>
  <title>ppsbathrooms | home</title>
</head>

<body>
  <div class="schoolData">
    <p id="chsData">
      <%= data.brData[0] %>
    </p>
    <p id="fhsData">
      <%= data.brData[1] %>
    </p>
    <p id="ihsData">
      <%= data.brData[2] %>
    </p>
    <p id="school">
      <%= data.school %>
    </p>
  </div>

  <div class="schoolChoice">
    <div class="cleveland">
      <a onClick="selectSchool('chs',true)"><img src="/style/images/logos/clevelandLogo.png"></a>
      <p>cleveland</p>
    </div>
    <div class="franklin">
      <a onClick="selectSchool('fhs',true)"><img src="/style/images/logos/franklinLogo.png"></a>
      <p>franklin</p>
    </div>
    <div class="ihs">
      <a onClick="selectSchool('ihs',true)"><img src="/style/images/logos/idaLogo.png"></a>
      <p>ida</p>
    </div>
  </div>

  <p id="pageID">schools</p>

  <div id="navbar"></div>

  <div style="height: 50px"></div>

  <div class="map"></div>

  <div id="buttons"></div>

  <div id="footer"></div>

</body>

<script type="text/javascript" src="../js/maps.js"></script>
<script type="text/javascript" src="../js/update.js"></script>
<script type="text/javascript" src="../js/roomData.js"></script>
<script type="text/javascript" src="../js/getdata.js"></script>
<script type="text/javascript" src="../js/htmlInsert.js"></script>
<script type="text/javascript" src="../js/selectSchool.js"></script>

</html>