<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PPSBathrooms</title>
    <link rel="stylesheet" href="../style/index.css" />
    <script src="../thirdParty/jquery.min.js"></script>
  </head>
  <body>
    <div id="header">
      <img src="../style/images/logo.png" />
      <div id="buttons">
        <a href="/franklin">FHS</a>
        <a href="/cleveland">CHS</a>
        <a href="/ida">IHS</a>
      </div>
    </div>

    <div id="main-content">
      <div id="title">
        <h1>PPS Bathrooms</h1>
        <p>Real Time Bathroom Statuses</p>
      </div>
      <img id="scroll-icon" src="../style/icons/scroll.svg" />

      <img id="background-image" src="../style/images/about/allBathrooms.png" />
      <div id="our-schools">
        <p style="margin-bottom: 20px">Our Schools</p>
        <div>
          <div>
            <a href="/cleveland"
              ><img src="../style/images/logos/clevelandLogo.png"
            /></a>
            <div>
              <p>Cleveland</p>
              <span>High School</span>
            </div>
          </div>
          <div>
            <a href="/franklin">
              <img src="../style/images/logos/franklinLogo.png" />
            </a>
            <div>
              <p>Franklin</p>
              <span>High School</span>
            </div>
          </div>
          <div>
            <a href="/ida">
              <img src="../style/images/logos/idaLogo.png" />
            </a>
            <div>
              <p>Ida B Wells</p>
              <span>High School</span>
            </div>
          </div>
        </div>
      </div>
      <div id="secondary-section">
        <div class="secondary-section">
          <div>
            <h3>Multi School Coverage</h3>
            <p>
              PPSBathrooms has real time coverage for three high schools in the
              Portland Public Schools area, Cleveland High School, Franklin High
              School and Ida B Wells High School.
            </p>
          </div>
          <img src="../style/images/about/allSchools.png" />
        </div>
        <div class="secondary-section reverse">
          <div>
            <h3>Simple Fast Data for Students</h3>
            <p>
              PPSBathrooms provides real time data on the availability of
              bathrooms at high schools across Portland Public schools. Each
              bathroom has a corresponding square next to it, green representing
              an open bathroom, and red representing a bathroom that has been
              closed.
            </p>
          </div>
          <img src="../style/images/about/openClosed.png" />
        </div>
        <div class="secondary-section">
          <div>
            <h3>A Tool to Keep Students in Class</h3>
            <p>
              With bathrooms consistently closed from vandalism or smoking,
              students spend excessive time outside of class finding open
              bathrooms. PPSBathrooms fixes this issue, providing students with
              a resource that eliminates the need to go from floor to floor
              searching for a bathroom.
            </p>
          </div>
          <img src="../style/images/about/hallway.png" />
        </div>
      </div>
    </div>

    <div class="footer">
      <div>
        <a href="/contact">Contact</a>
        <a href="/terms">Terms</a>
        <a href="/privacy">Privacy</a>
        <a href="/help">Help</a>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="../js/index.js"></script>
</html>
