<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="ppsbathrooms privacy policy">
  <link rel="icon" href="../style/images/favicon.ico" type="image/x-icon" />
  <title>ppsbathrooms | privacy</title>
</head>

<style>
  body {
    background: #121211;
  }

  .termstext {
    background-color: var(--background);
    text-transform: none;
    color: #eee;
    margin: 50px;
    text-decoration: none;
    text-wrap: pretty;
  }

  #link:hover {
    color: #565655;
    transition: color .25s;
  }

  #link {
    color: #ccc;
    text-decoration: none;
    transition: color .25s;
  }

  li {
    margin-bottom: 10px;
  }
</style>

<body>
  <div class="termstext">
    <h1>Privacy Policy for ppsbathrooms.org</h1>

    <p>Last updated: Feburary 20, 2024</p>

    <p>At ppsbathrooms.org, one of our main priorities is the privacy of our visitors. This Privacy Policy document
      contains
      types of information that is collected and recorded by ppsbathrooms.org and how we use it.</p>

    <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact
      us.
    </p>

    <h2>Log Files</h2>

    <p>ppsbathrooms.org follows a standard procedure of using log files. These files log visitors when they visit
      websites.
      All hosting companies do this as part of hosting services' analytics. The information collected by log files
      include
      internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp,
      referring/exit
      pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable.
      The
      purpose of the information is for analyzing trends, administering the site, tracking users' movement on the
      website,
      and gathering demographic information.</p>

    <h2>Cookies and Web Beacons</h2>

    <p>Like any other website, ppsbathrooms.org uses "cookies". These cookies are used to store information including
      visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used
      to
      optimize the users' experience by customizing our web page content based on visitors' browser type and/or other
      information.</p>


    <h2>Privacy Policies</h2>

    <h2>Third Party Privacy Policies</h2>

    <p>ppsbathrooms.org's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to
      consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may
      include
      their practices and instructions about how to opt-out of certain options. </p>

    <p>You can choose to disable cookies through your individual browser options. To know more detailed information
      about
      cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>

    <h2>Children's Information</h2>

    <p>Another part of our priority is adding protection for children while using the internet. We encourage parents and
      guardians to observe, participate in, and/or monitor and guide their online activity.</p>

    <p>ppsbathrooms.org does not knowingly collect any Personal Identifiable Information from children under the age of
      13.
      If you think that your child provided this kind of information on our website, we encourage you to contact us
      immediately and we will do our best efforts to promptly remove such information from our records.</p>

    <h2>Online Privacy Policy Only</h2>

    <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards
      to
      the information that they shared and/or collect on ppsbathrooms.org. This policy is not applicable to any
      information
      collected offline or via channels other than this website.</p>

    <h2>Account Data</h2>

    <p>To facilitate account creation and authentication and otherwise manage user accounts. We may process your
      information
      so you can create and log in to your account, as well as keep your account in working order.

    <h2>Processing Information</h2>

    <li>We process your personal information for a variety of reasons, depending on how you interact with our Services,
      including:</li>

    <li>To facilitate account creation and authentication and otherwise manage user accounts. We may process your
      information so you can create and log in to your account, as well as keep your account in working order.</li>

    <li>To respond to user inquiries/offer support to users. We may process your information to respond to your
      inquiries
      and solve any potential issues you might have with the requested service.</li>

    <li>To send administrative information to you. We may process your information to send you details about our
      products
      and services, changes to our terms and policies, and other similar information. </li>

    <li>To request feedback. We may process your information when necessary to request feedback and to contact you about
      your use of our Services.</li>

    <li>To protect our Services. We may process your information as part of our efforts to keep our Services safe and
      secure, including fraud monitoring and prevention.</li>

    <li>To evaluate and improve our Services, products, marketing, and your experience. We may process your information
      when
      we believe it is necessary to identify usage trends, determine the effectiveness of our promotional campaigns, and
      to
      evaluate and improve our Services, products, marketing, and your experience.</li>

    <li>To identify usage trends. We may process information about how you use our Services to better understand how
      they
      are being used so we can improve them.</li>


    <h2>Google OAuth2</h2>

    <p>Our Services offer you the ability to register and log in using your Google account. When you choose to do this,
      we
      will receive certain profile information about you from Google. The profile information we receive will include
      your
      name, email address, and profile picture, as well as other information you choose to make public. We store limited
      user data from these accounts, only storing the user’s name and email. This information is used to link your
      google
      account to your class schedule, bathroom preferences, school, and other account specific data.</p>

    </p>We will use the information we receive only for the purposes that are described in this privacy notice or that
    are
    otherwise made clear to you on the relevant Services. Please note that we do not control, and are not responsible
    for,
    other uses of your personal information by your third-party social media provider. We recommend that you review
    their
    privacy notice to understand how they collect, use, and share your personal information, and how you can set your
    privacy preferences on their sites and apps.<p>

    <h2>How We Protect Your Information</h2>

    <p>We have implemented appropriate and reasonable technical and organizational security measures designed to protect
      the
      security of any personal information we process. However, despite our safeguards and efforts to secure your
      information, no electronic transmission over the Internet or information storage technology can be guaranteed to
      be
      100% secure, so we cannot promise or guarantee that hackers, cybercriminals, or other unauthorized third parties
      will
      not be able to defeat our security and improperly collect, access, steal, or modify your information. Although we
      will
      do our best to protect your personal information, transmission of personal information to and from our Services is
      at
      your own risk. You should only access the Services within a secure environment.</p>


    <h2>Consent</h2>

    <p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>
    <p>If you have questions or comments about this notice, you may email us at ppsbathrooms@gmail.com or contact us <a
        id="link" href="/contact">here</a>.</p>
    <br>
    <a id="link" href="/">Return Home</a>
  </div>
</body>

</html>