<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="icon" href="../style/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../style/style.css">

    <script src="../thirdParty/jquery.min.js"></script>
    <title>ppsbathrooms | student</title>
</head>

<style>
    body {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

<body>
    <h1>student dashboard</h1><br>

    <button onclick="window.location.href = '/admin/logout'">logout</button>
</body>