<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="ppsbathrooms terms of service">
  <link rel="icon" href="../style/images/favicon.ico" type="image/x-icon" />
  <title>ppsbathrooms | terms</title>
</head>

<style>
  body {
    background: #121211;
  }

  .termstext {
    background-color: var(--background);
    text-transform: none;
    color: #eee;
    margin: 50px;
    text-decoration: none;
    text-wrap: pretty;
  }

  #link:hover {
    color: #565655;
    transition: color .25s;
  }

  #link {
    color: #ccc;
    text-decoration: none;
    transition: color .25s;
  }

  li {
    margin-bottom: 10px;
  }
</style>

<body>
  <div class="termstext">
    <h1>Terms of Service for ppsbathrooms.org</h1>
    <p>Last updated: Feburary 20, 2024</p>
    <p>Please read these terms and conditions carefully before using Our Service.</p>
    <p>We are not associated with Portland Public Schools or Cleveland High School.</p>
    <h2>Interpretation and Definitions</h2>
    <h2>Interpretation</h2>
    <p>The words of which the initial letter is capitalized have meanings defined under the following conditions.
      The following
      definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>
    <h2>Definitions</h2>
    <p>For the purposes of these Terms and Conditions:</p>
    <ul>
      <li>
        <p><strong>Affiliate</strong> means an entity that controls, is controlled by or is under common control
          with a party, where &quot;control&quot; means ownership of 69% or more of the shares, equity
          interest or other securities entitled to vote for election of directors or other managing authority.
        </p>
      </li>
      <li>
        <p><strong>Country</strong> refers to: Oregon, United States or Ohio, United States</p>
      </li>
      <li>
        <p><strong>Company</strong> (referred to as either &quot;the Company&quot;, &quot;We&quot;,
          &quot;Us&quot; or &quot;Our&quot; in this Agreement) refers to PPS Bathrooms, 3400 SE 26th Ave,
          Portland, OR 97202.</p>
      </li>
      <li>
        <p><strong>Device</strong> means any device that can access the Service such as a computer, a cellphone
          or a digital tablet or i dont know anymore, f*** it, a smart refrigerator.</p>
      </li>
      <li>
        <p><strong>Service</strong> refers to the Website.</p>
      </li>
      <li>
        <p><strong>Third, Fourth, Seventh, Twelveth, Twenty-Third or Fourty-Second party Social Media
            Service</strong> means any services or content (including data, information, products or
          services) provided by a third, fourth, seventh, twelveth or fourty-second party that may be
          displayed, included or made available by the Service.</p>
      </li>
      <li>
        <p><strong>Website</strong> refers to the Service.
      </li>
      <li>
        <p><strong>You or Y'All</strong> means the individual accessing or using the Service, or the company, or
          other legal entity on behalf of which such individual is accessing or using the Service, as
          applicable.</p>
      </li>
    </ul>
    <h2>Acknowledgment</h2>
    <p>These are the Terms and Conditions governing the use of this Service and the agreement that operates between
      Y'All and the Company. These Terms and Conditions set out the rights and obligations of all users regarding
      the use of the Service.</p>
    <p>Your access to and use of the Service is conditioned on Your acceptance of and compliance with these Terms
      and Conditions, and also by how many pokemon you can name. These Terms and Conditions apply to all visitors,
      users, trainers and others who access or use the Service.</p>
    <p>By accessing or using the Service You agree to be bound by these Terms and Conditions. If You disagree with
      any part of these Terms and Conditions then You may not access the Service.</p>
    <p>Your access to and use of the Service is also conditioned on Your acceptance of and compliance with the
      Privacy Policy of the Company, and by how many digits of the number e you can list. Our Privacy Policy
      describes Our policies and procedures on the collection, use and disclosure of Your personal information
      *hic* when You use the Application or the Website and tells You about Your privacy rights and how the law
      protects You. Please read Our Privacy Policy carefully before using Our Service, nerd.</p>

    <h2>Links to Other Websites</h2>
    <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by the
      Company.</p>
    <p>The Company has no control over, and assumes no responsibility for, the content, privacy policies, or
      practices of any third party web sites or services. You further acknowledge and agree that the Company shall
      not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused
      by or in connection with the use of or reliance on any such content, goods or services available on or
      through any such web sites or services.</p>
    <p>We strongly advise You to read the terms and conditions and privacy policies of any third-party web sites or
      services that You visit.</p>
    <p>Our Service also may contain links to fourth, seventh, twelveth and fourty-second party web sites or services
      that are not owned or controlled by the Company.</p>
    <p>The Company has no control over, and assumes no responsibility for, the content, privacy policies, or
      practices of any fourth, seventh or twelveth party web sites or services. We are however very proud of our
      fourty-second party websites. Y'All *hic* further acknowledge and agree that the Company shall not be
      responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or
      in connection with the use of or reliance on any fourth, seventh or twelveth party goods or services
      available on or through any such web sites or services.</p>
    <p>We strongly advise You to read the terms and conditions and privacy policies of any fourth, seventh or
      twelveth party web sites or services that You visit. Don't check the fourty-second party website terms and
      conditions though. It's fine, they mean no harm.</p>
    <p>Although do worry about the twenty-third parties. Don't click on any links from them or you'll probably get
      spammed with middle school band memes for a week.</p>

    <h2>Termination</h2>
    <p>We may terminate or suspend Your access immediately, without prior notice or liability, for any reason
      whatsoever lol, including without limitation if Y'all breach these Terms and Conditions.</p>
    <p>Upon termination, Your right to use the Service will cease immediately lmfao.</p>

    <h2>Limitation of Liability</h2>
    <p>Notwithstanding any damages that You might incur, the entire liability of the Company and any of its
      suppliers under any provision of this Terms and Your exclusive remedy for all of the foregoing shall be
      limited to the amount actually paid by You through the Service or -2265000.53 VND if You haven't purchased
      anything through the Service.</p>
    <p>To the maximum extent permitted by applicable law, in no event shall the Company or its suppliers be liable
      for any special, incidental, indirect, or consequential damages whatsoever (including, but not limited to,
      damages for loss of profits, loss of data or other information, for business interruption, for personal
      injury, loss of privacy arising out of *hiccup* or in any way related to the use of or inability to use the
      Service, third-party software and/or third-party hardware used with the Service, or somebody stole your
      sippy cup), even if the Company or any supplier has been advised of the possibility of such damages and even
      if the remedy fails of its essential purpose and Y'All lost Your sippy cup for nothing. Sad.</p>
    <p>Some states do not allow the exclusion of implied warranties or limitation of liability for incidental or
      consequential damages, which means that some of the above limitations may not apply. In these states, each
      party's liability will be limited to the greatest extent permitted by law. If you live in the EU or
      elsewhere then go away. We don't serve Brits or Russians, and every other nationality is fake news.</p>

    <h2>Changes to These Terms and Conditions</h2>
    <p>We reserve the right, at Our sole discretion, to modify or replace these Terms at any time. What constitutes
      a material change will be determined at Our sole discretion and maybe by summoning a council with the
      fourty-second party.</p>
    <p>By continuing to access or use Our Service after those revisions become effective, You agree to be bound by
      the revised terms muah ha haaa. If You do not agree to the new terms, in whole or in part, please don't stop
      using the website and the Service, we want to scam you. That's right We said it.</p>
    <h2>Contact Us</h2>
    <p>If you have any questions about these Terms and Conditions, You can contact us at contact@ppsbathrooms.org.
    </p>
    <p>By using this website you agree not to sue us or summon the twenty-third party websites. They ruined our
      cooking blog :(</p>
    <br>
    <a id="link" href="/">Return Home</a>
  </div>

</body>

</html>