<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../thirdParty/jquery.min.js"></script>
    <title>PPSBathrooms Admin</title>
    <link rel="stylesheet" href="../style/update.css" />
    <link rel="stylesheet" href="../style/standard.css" />
  </head>
  <body>
    <header></header>
    <div id="school-data" data-schools="<%= JSON.stringify(data) %>"></div>
    <div id="side-panel">
      <div>
        <p id="franklin-select" class="selected">Franklin</p>
        <p id="cleveland-select">Cleveland</p>
        <p id="ida-select">Ida</p>
      </div>
    </div>
    <div id="main-content">
      <div id="map"></div>
      <div id="submit">
        <p>Submit Changes</p>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="../js/standardInject.js"></script>
  <script type="text/javascript" src="../js/update.js"></script>
</html>
