@font-face {
    font-family: 'Catamaran';
    font-weight: 800;
    src: url(./fonts/404font.woff2) format('woff2');
}

body {
    background-color: #0f141a;
    text-align: center;
    font-family: monospace;
    overflow: none;
    user-select: none;
    text-transform: lowercase;
}


.text404 {
    font-family: 'Catamaran', sans-serif;
    line-height: 1px;
    font-weight: bold;
    color: #fff;
    font-size: 150px;
    margin-top: 100px;
}


.text {
    position: absolute;
    font-size: 24px;
    color: #888;
    top: 200px;
    width: 100%;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #999;
    font-size: 12px;
}

#linkholder {
    display: flex;
    justify-content: center;
    align-items: center;
}

a.home-link {
    position: absolute;
    top: 50vh;
    background-color: #de7e85;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.2s;
}

.home-link:hover {
    background-color: #F28A91;
}