body {
    margin: 0;
    scroll-behavior: smooth;
    background: #0f141a;
    font-family: monospace;
    text-transform: lowercase;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    width: 0px;
}


#icon24 {
    width:  24px;
    height: 24px;
}
#icon16 {
    width:  12px;
    height: 12px;
}

#navbarButton {
    position: fixed;
    background: none;
    border: none;
    padding: 5px;
    margin: 0;
    z-index: 2;
    user-select: none;
    top:  15px;
    left: 15px;
    cursor: pointer;
    z-index: 4;
}

#pageID {
    display: none;
}

#mapHolder {
    display: flex;
    justify-content: center;
    width: 100%;
}

#mapSvg {
    width: 45vw;
    margin-bottom: 50px;
}

#navbarBackground {
    position: fixed;
    height: 100%;
    width: 64px;
    top: 0;
    left: 0;
    background-color: #24303d;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    user-select: none;
    z-index: 3;
}

#schoolButtons {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    padding-top: 65px;
}

#schoolButtons img {
    width:  40px;
    height: 40px;
    cursor: pointer;
    opacity: .75;
    transition: opacity 0.2s;
    padding-bottom: 10px;
}

#schoolButtons img:hover {
    opacity: 1;
    transition: opacity 0.2s;
}


#navButtonsBottom {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
}

#navButtonsBottom a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    opacity: .75;
    transition: opacity 0.2s;
}

#navButtonsBottom a:hover {
    opacity: 1;
    transition: opacity 0.2s;
}

.termstext {
    color: #ffffff;
    margin: 25px;
    text-decoration: none;
}

#svgBathrooms {
    /* display: none; */
    cursor: pointer;
}

#svgButtons {
    user-select: none;
    cursor: pointer;
}

.schoolData {
    display: none;
    user-select: none;
}

#footer {
    width: 100%;
    height: 45px;
    bottom: 0;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #666;
    user-select: none;
    display: none;
}

.bottomButtonHolder, .bottomSubmit {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 15px;
    border-radius: 10px;
    height: 32px;
}

.bottomSubmit {
    right: 15px;
    height: 32px;
}

#submitButton,
#highlightRoomButton,
#feedbackButton {
    text-decoration: none;
    text-align: center;
    border: none;
    background-color: #535353;
    padding: 10px;
    margin-left: 15px;
    border-radius: 10px;
    font-family: monospace;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
}

#highlightRoomButton {
    display: none;
}

#submitButton {
    float: right;
    display: none;
    text-align: center;
}

#submitButton p {
    margin-left: 5px;
}

#submitButton:hover,
#highlightRoomButton:hover,
#feedbackButton:hover {
    transition: background-color .1s;
    background-color: #323232;
}

#bottomButtonNavbarShift {
    width: 70px;
    display: none;
}

#noWifi, #noWifiBlur {
    height: 24px;
    width:  24px;

    position: fixed;
    top:   20px;
    right: 20px;
    display: none;
    user-select: none;
}

.schoolChoice {
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    padding-top: 100px;
    color: #fff;
    display: none;
    justify-content: center;
    width: 100%;
    user-select: none;
}

.schoolChoice button {
    background:  none;
    color: #1a0b0b;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

#buttons {
    display: none;
}

#helpMap {
    width: 45vw;
    height: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    user-select: none;
}

#help {
    color: #fff;
    margin: 30px;
    margin-top: 75px;
    margin-bottom: 75px;
}

#helpButton {
    margin-top: 10px;
}

#footerHelp {
    position: absolute;
    color: #666;
    text-decoration: none;
    right: 20px;
}

#footerHelp:hover {
    color: #999;
    transition: color .25s;
}

.schoolChoice img {
    width: 200px;
    height: 200px;
    transition: transform .25s ease-out;
    opacity: .9;
}

.schoolChoice img:hover {
    transition: transform .5s;
    opacity: 1;
    transform: scale(1.025);
}

@media screen and (max-width: 600px) {
    .schoolButtons img {
        width: 100px;
        height: 100px;
    }

    .schoolButtons p {
        font-size: 16px;
    }
}