@font-face {
    font-family: barlowBold;
    src: url(../style/fonts/Barlow-Bold.ttf);
}

:root {
    --background: #0a0c15;
    --subtitle: rgba(200, 211, 239, .8);
    --bgText: #505460;
    --bgTextHover: #B1BAD6;
    --buttonHover: #666C7D;
    --navbar: #24303d;
    --pBg: #202227;
    --pInput: #373B43;
}

body {
    margin: 0;
    scroll-behavior: smooth;
    background: var(--background);
    font-family: monospace;
    text-transform: lowercase;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    width: 0px;
}


#icon24 {
    width:  24px;
    height: 24px;
}

#icon16 {
    width:  12px;
    height: 12px;
}

#navbarButton {
    width: 25px;
    height: 25px;
    position: fixed;
    right: 15px;
    top: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 5;
}

#navbarButton span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

#navbarButton span:nth-child(1) {
    top: 0px;
}

#navbarButton span:nth-child(2),
#navbarButton span:nth-child(3) {
    top: 9px;
}

#navbarButton span:nth-child(4) {
    top: 18px;
}

#navbarButton.open span:nth-child(1) {
    top: 9px;
    width: 0%;
    left: 50%;
}

#navbarButton.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#navbarButton.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#navbarButton.open span:nth-child(4) {
    top: 9px;
    width: 0%;
    left: 50%;
}

#pageID {
    display: none;
}

#mapHolder {
    position: absolute;
    left: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.mapSvg {
    width: 45vw;
    margin-bottom: 50px;
}

#navbarBackground {
    position: fixed;
    height: 100%;
    width: 200px;
    top: 0;
    right: -200px;
    background: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    user-select: none;
    z-index: 3;
}

#navbarBackground::-webkit-scrollbar {
    display: none;
}

#schoolButtons {
    display: flex;
    height: 100%;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 45px;
}

#navbarTopFade {
    position: absolute;
    z-index: 4;
    top: -50px;
    right: 0px;
    pointer-events: none;
    background-image: linear-gradient(to top,rgba(0,0,0,0), #0a0c15 40%);
    width: 200px;
    height: 9em;
}

#navbarScroll {
    position: absolute;
    bottom: -150px;
    right: 0;
}

#schoolButtons p, #schoolButtons a {
    text-decoration: none;
    font-family: barlowBold;
    display: inline-block;
    color: #fff;
    font-size: 40px;
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
    width: 100%;
    text-align: right;
}

#schoolButtons div {
    margin-right: 15px;
    cursor: pointer;
    width: calc(100% - 25px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#schoolButtons img {
    display: none;
    width:  40px;
    height: 40px;
    cursor: pointer;
    padding-bottom: 10px;
}

#navbarLogin {
    display: none;
    position: absolute;
    top: 290px;
    margin: 0;
    margin: 10px;
    width: 180px;
    border-radius: 10px;
}

#navbarLogin input {
    all: unset;
    width: 160px;
    padding: 7px;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    height: 15px;
    font-size: 16px;
}

#navbarLogin p {
    font-size: 12px;
    color: #fff;
}

#navLoginContainer {
    left: 0;
    display: flex;
    justify-content: center;
}

#navbarLoginButton {
    font-size: 16px;
    color: #fff;
    border: none;
    background: transparent;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: monospace;
    cursor: pointer;
    transition: color .25s;
}

.redBorder {
    animation: redBorderFade .5s ease forwards;
}

@keyframes redBorderFade {
    0% {
        border-color: red;
        color: red;
    }

    100% {
        border-color: #fff;
        color: #fff;
    }
}

#navbarLoginButton:hover {
    color: #bbb;
    transition: color .25s;
}

#navLoginInputBg {
    background: transparent;
    height: 30px;
    border-radius: 7px;
    display: flex;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

#navButtonsBottom {
    width: 200px;
    position: sticky;
    bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 15px;
}

#navButtonsBottom a {
    text-align: center;
    color: var(--bgText);
    text-decoration: none;
    border-radius: 5px;
    transition: .2s;
}

#navButtonsBottom a:hover {
    color: var(--bgTextHover)
}
.termstext {
    color: #fff;
    margin: 25px;
    text-decoration: none;
}

#svgBathrooms {
    cursor: pointer;
}

#svgButtons {
    user-select: none;
    cursor: pointer;
}

.schoolData {
    display: none;
    user-select: none;
}

#footer {
    position: sticky !important;
    bottom: 0 !important;
    bottom: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: var(--bgText);
    user-select: none;
    display: none;
}

.bottomButtonHolder, .bottomSubmit {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 15px;
    border-radius: 10px;
    height: 32px;
}

.bottomSubmit {
    right: 15px;
    height: 32px;
    z-index: 2;
}

#submitButton {
    text-decoration: none;
    text-align: center;
    border: none;
    background: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: background-color .25s;
    padding: 10px;
    margin-left: 15px;
    border-radius: 10px;
    font-family: monospace;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
}

#highlightRoomButton {
    display: none;
}

#submitButton {
    float: right;
    display: none;
    text-align: center;
}

#submitButton p {
    margin-left: 5px;
}

#submitButton:hover,
#highlightRoomButton:hover,
#feedbackButton:hover {
    transition: background-color .25s;
    background: var(--buttonHover);
}

#bottomButtonNavbarShift {
    width: 70px;
    display: none;
}

#noWifi {
    height: 24px;
    width:  24px;

    position: fixed;
    top:   20px;
    right: 20px;
    display: none;
    user-select: none;
}

#topLogo {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10px;
    cursor: pointer;
}

#topLogo img{
    width:  36px;
    height: 36px;
}

.schoolChoice {
    position: absolute;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    display: none;
    right: 0;
    width: 100%;
    height: 100%;
}

.schoolChoice a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#mainTitle img {
    width: 200px;
    height: 200px;
    transition: transform .25s ease-out;
    filter: brightness(90%);
    user-select: none;
}

#mainTitle img:hover {
    transition: transform .5s;
    filter: brightness(100%);
    transform: scale(1.025);
}

#mainTitle {
    position: absolute;
    width: 100%;
    height: 100%;
    text-transform: none;
    top: 10%;
    opacity: 0;
}

#titleUpper {
    font-family: barlowBold;
    margin-top: 150px;
    font-size: 72px;
}

#titleLower {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 40px;
    margin: 0;
    color: var(--subtitle);
    font-size: 16px;
}

#titleLower span {
    font-size: 24px;
}

#menuBgImage, #menuBgImageMobile {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    position: fixed;
    user-select: none;
}

#menuBgImageMobile {
    display: none;
}

#menuSchoolButtons {
    top: 35%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
}

#menuLabels {
    margin-top: 190px;
    top: 40%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
}

#menuLabels p {
    width: 200px;
    text-align: center;
}

#buttons {
    display: none;
}

#helpMap {
    width: 45vw;
    height: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    user-select: none;
}

#help {
    color: #fff;
    margin: 30px;
    margin-top: 75px;
    margin-bottom: 75px;
}

#helpButton {
    margin-top: 10px;
}

#footerRight {
    position: absolute;
    right: 20px;
}
#footerLeft {
    position: absolute;
    left: 0px;
}

#footerRight a, #footerLeft a {
    color: var(--bgText);
    text-decoration: none;
    transition: color .25s;
    margin-left: 15px;
}

#footerRight a:hover ,#contactFooterLeft:hover, #return:hover {
    color: var(--bgTextHover);
    transition: color .25s;
}

#return {
    color: var(--bgText);
    text-decoration: none;
}

#contactHolder {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contactIconHolder img {
    cursor: pointer;
}

#contactIconHolder {
    margin-bottom: 100px;
}

#popup {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#popupHelp{
    font-size: 10px;
    color: var(--bgText);
    text-decoration: none;
    position: absolute;
    margin-top: 110px;
    margin-left: 310px;
    transition: color .25s;
}

#popupId, #popupButtons {
    display: none;
}

#popupHelp:hover {
    color: var(--bgTextHover);
    transition: color .25s;
}

#pBackdrop {
    display: none;
    background: rgba(0, 0, 0, .75);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#popupBackground {
    background: var(--pBg);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .2);
    width:  350px;
    height: 130px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#popupTitle {
    font-size: 16px;
    width: 100%;
    text-align: center;
    color: #fff;
}

#pInput {
    all: unset;
    padding: 3px;
    margin-left: 3px;
    width: 250px;
    border-radius: 5px;
    background: transparent ;
    border: none;
    color: #fff;
    height: 15px;
}

#pInputBg {
    background: var(--pInput);
    width: 270px;
    height: 25px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popupSubmit {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    opacity: 0;
}

#px {
    position: absolute;
    margin-top: 5px;
    margin-left: 315px;
    width: 24px;
    aspect-ratio: 1;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#px img {
    user-select: none;
    width:  16px;
    height: 16px;
    aspect-ratio: 1;
}

/* double id to make it marked as important */
#popupError#popupError {
    font-size: 12px;
    color: #ff0000;
    display: none;
}

/* SCREEN SIZE STUFFS */

/* small screen stuffs */
@media (max-width: 360px) {
    #footerContact {
        display: none;
    }
}

@media (max-height: 480px) {
    #navbarSignIn {
        display: none !important;
    }
}

@media (max-height: 710px) and (min-width: 800px){
    #titleUpper {
        margin-top: 30px;
    }
}

@media (max-width: 800px) {
    #navbarBackground {
        overflow-y: scroll;
    }
    .mapSvg {
        width: 80vw;
        margin-bottom: 25px;
    }
    #helpMap {
        width: 60vw;
    }
    #mainTitle img {
        width:  110px;
        height: 110px;
    }

    .schoolChoice p {
        font-size: 16px;
    }
    #titleUpper {
        margin-top: 50px;
        font-size: 32px;
    }
    #titleLower {
        font-size: 12px;
    }
    #menuBgImage {
        display: none;
    }
    #menuBgImageMobile {
        display: block;
    }
    #menuLabels p{
        width: 110px;
        margin-top: -50px;
    }
}