body {
    margin: 0;
    scroll-behavior: smooth;
    background: #0a0c15;
    font-family: monospace;
    text-transform: lowercase;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    width: 0px;
}


#icon24 {
    width:  24px;
    height: 24px;
}

#icon16 {
    width:  12px;
    height: 12px;
}

#navbarButton {
    position: fixed;
    background: none;
    border: none;
    padding: 5px;
    margin: 0;
    z-index: 2;
    user-select: none;
    top:  15px;
    left: 15px;
    cursor: pointer;
    z-index: 4;
}

#pageID {
    display: none;
}

#mapHolder {
    display: flex;
    justify-content: center;
    width: 100%;
}

#mapSvg {
    width: 45vw;
    margin-bottom: 50px;
}

#navbarBackground {
    position: fixed;
    height: 100%;
    width: 64px;
    top: 0;
    left: 0;
    background-color: #24303d;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    user-select: none;
    z-index: 3;
}

#schoolButtons {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    padding-top: 65px;
}

#schoolButtons img {
    width:  40px;
    height: 40px;
    cursor: pointer;
    opacity: .75;
    transition: opacity 0.2s;
    padding-bottom: 10px;
}

#schoolButtons img:hover {
    opacity: 1;
    transition: opacity 0.2s;
}


#navButtonsBottom {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
}

#navButtonsBottom a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    opacity: .75;
    transition: opacity 0.2s;
}

#navButtonsBottom a:hover {
    opacity: 1;
    transition: opacity 0.2s;
}

.termstext {
    color: #ffffff;
    margin: 25px;
    text-decoration: none;
}

#svgBathrooms {
    /* display: none; */
    cursor: pointer;
}

#svgButtons {
    user-select: none;
    cursor: pointer;
}

.schoolData {
    display: none;
    user-select: none;
}

#footer {
    width: 100%;
    height: 45px;
    bottom: 0;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #505460;
    user-select: none;
    display: none;
}

.bottomButtonHolder, .bottomSubmit {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 15px;
    border-radius: 10px;
    height: 32px;
}

.bottomSubmit {
    right: 15px;
    height: 32px;
    z-index: 2;
}

#submitButton,
#highlightRoomButton,
#feedbackButton {
    text-decoration: none;
    text-align: center;
    border: none;
    background-color: #535353;
    padding: 10px;
    margin-left: 15px;
    border-radius: 10px;
    font-family: monospace;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
}

#highlightRoomButton {
    display: none;
}

#submitButton {
    float: right;
    display: none;
    text-align: center;
}

#submitButton p {
    margin-left: 5px;
}

#submitButton:hover,
#highlightRoomButton:hover,
#feedbackButton:hover {
    transition: background-color .1s;
    background-color: #323232;
}

#bottomButtonNavbarShift {
    width: 70px;
    display: none;
}

#noWifi {
    height: 24px;
    width:  24px;

    position: fixed;
    top:   20px;
    right: 20px;
    display: none;
    user-select: none;
}

#topLogo {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10px;
    cursor: pointer;
}

#topLogo img{
    width:  36px;
    height: 36px;
}

.schoolChoice {
    position: absolute;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    display: none;
    right: 0;
    width: 100%;
    height: 100%;
}

.schoolChoice a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

#mainTitle img {
    width: 200px;
    height: 200px;
    transition: transform .25s ease-out;
    filter: brightness(90%);
    user-select: none;
}

#mainTitle img:hover {
    transition: transform .5s;
    filter: brightness(100%);
    transform: scale(1.025);
}

#mainTitle {
    position: absolute;
    width: 100%;
    height: 100%;
    text-transform: none;
    bottom: -10%;
    opacity: 0;
}

#titleUpper {
    margin-top: 150px;
    font-size: 72px;
}

#titleLower {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 40px;
    margin: 0;
    color: rgba(200, 211, 239, .8);
    font-size: 16px;
}

#titleLower span {
    font-size: 24px;
}

#menuBgImage {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    position: fixed;
}

#menuSchoolButtons {
    width: 100%;
    display: flex;
    justify-content: center;
}

#buttons {
    display: none;
}

#helpMap {
    width: 45vw;
    height: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    user-select: none;
}

#help {
    color: #fff;
    margin: 30px;
    margin-top: 75px;
    margin-bottom: 75px;
}

#helpButton {
    margin-top: 10px;
}

#footerRight {
    position: absolute;
    right: 20px;
}

#footerRight a {
    color: #505460;
    text-decoration: none;
    transition: color .25s;
    margin-left: 15px;
}

#footerRight a:hover, #return:hover {
    color: #B1BAD6;
    transition: color .25s;
}

#return {
    color: #81879B;
    text-decoration: none;
}

#feedbackBox {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    background-color: #383B44;
    width: 25%;
    height: 35px;
    border-radius: 5px;
    border: .5px solid rgba(0, 0, 0, .2);
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .2);
}

#feedbackBox p {
    color: #80869A;
    position: absolute;
    margin-bottom: 110px;
}

#feedbackInput {
    all: unset;
    width: 475px;
    border: none;
    padding: 0;
    background: none;
    color: #ccc;
    padding: 3px;
    margin-left: 10px;
}

#sendFeedback {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    height: 100%;
    width: 40px;
    cursor: pointer;
}

#contactHolder {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contactIconHolder img {
    cursor: pointer;
}

#contactIconHolder {
    margin-bottom: 100px;
}

/* SCREEN SIZE STUFFS */

/* small screen stuffs */
@media (max-width: 800px) {
    #mapSvg {
        width: 80vw;
        margin-bottom: 25px;
    }
    #helpMap {
        width: 60vw;
    }
    #mainTitle img {
        width:  110px;
        height: 110px;
    }

    .schoolChoice p {
        font-size: 16px;
    }
    #titleUpper {
        margin-top: 50px;
        font-size: 32px;
    }
    #titleLower {
        font-size: 12px;
    }
    #menuBgImage {
        display: none;
    }
}
